<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员修改密码页面</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="../css/style.css">
</head>
<body>

    <!-- main -->
    <div class="main">
            <input type="password" name="oldPassword" id="oldPassword" value="" placeholder="原密码" required="">
            <input type="password" name="newPassword" id="newPassword" value=""placeholder="新密码"  required="">
            <input type="password" name="rePassword" id="rePassword" value=""placeholder="重复新密码"  required="">
            <input type="submit" onclick="changePassword()" value="确认">

    </div>
</body>
<script src="../assets/js/core/jquery.3.2.1.min.js"></script>
<script>
    function changePassword(){
        var oldPassword = $("#oldPassword").val();
        var newPassword = $("#newPassword").val();
        var rePassword = $("#rePassword").val();


        if(oldPassword == ''){
            alert("请输入原密码！");
            return;
        }
        if(newPassword == ''){
            alert("请输入新密码！");
            return;
        }
        if(rePassword == ''){
            alert("请输入重复新密码！");
            return;
        }
        if(newPassword != rePassword){
            alert("两次输入新密码不一致！");
            return;
        }

        $.ajax({
            type: 'post',
            url: "/user/changePassword",
            data: {
                oldPassword:oldPassword,
                newPassword: newPassword,
                rePassword: rePassword
            },
            success:function (data) {
                console.log(data);
                if(data.status == 1){
                    alert("修改成功,请重新登录！");
                    window.location.href="/";
                }else{
                    alert(data.msg);
                }
            }
        })
    }
</script>
</html>