<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <style>
        table,table tr th, table tr td { border:1px solid #0094ff; }
    </style>
</head>
<body>
    <div style="width: 100%">
        <table border="1" width="95%">
            <tr>
                <th>Month</th>
                <th>Savings</th>
            </tr>
            <tr>
                <td>January</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>February</td>
                <td>$80</td>
            </tr>
        </table>
    </div>
</body>
</html>