<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>成绩查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../assets/css/ready.css">
    <link rel="stylesheet" href="../assets/css/demo.css">
    <style>
        th{word-wrap: break-word;}
        td{word-wrap: break-word;}
    </style>
</head>
<body>
<input type="hidden" id="score_id" value="$score.id"/>
<table class="table table-bordered" style="margin-top:15px;">
    <thead>
    <tr>
        <th style="width:25%">姓名</th>
        <th style="width:25%">$user.name</th>
        <th style="width:25%">编号</th>
        <th style="width:25%">$user.usercode</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>本周进度</td>
            <td colspan="3">$score.weekProgress</td>
        </tr>
        <tr>
            <td rowspan="2">测试</td>
            <td>
                #if("$!{score.testMsg.testTime}"!="")
                    时间：$score.testMsg.testTime
                #else
                    无
                #end
            </td>
            <td>
                #if("$!{score.testMsg.testJuanzi}"!="")
                    <a href="$score.testMsg.testJuanzi">点击查看</a>
                #else
                    无
                #end
            </td>
            <td>
                #if("$!{score.testMsg.testScore}"!="")
                    成绩：$score.testMsg.testScore
                #else
                    无
                #end
            </td>
        </tr>
        <tr>
            <td colspan="3">$score.testMsg.testFenxi</td>
        </tr>
        #set($homeworkSize=$!{score.homeworkMsg.size()}+1)
        <tr>
            <td rowspan="$!{homeworkSize}">作业情况</td>
            <td>时间</td>
            <td>作业内容</td>
            <td>完成情况</td>
        </tr>
        #foreach( $homework in $score.homeworkMsg)
            <tr>
                <td>$homework.homeworkTime</td>
                <td>$homework.homeworkContent</td>
                <td>$homework.homeworkFinish</td>
            </tr>
        #end
        <tr>
            <td>老师寄语</td>
            <td colspan="3">$score.teacherComment</td>
        </tr>
        <tr>
            <td>家长反馈</td>
            <td colspan="3">
                <textarea class="form-control"  id="parent_comment" name="parentComment" rows="4">$score.parentComment</textarea>
            </td>
        </tr>
    </tbody>
</table>

<div style="margin: 15px 5px;" class="text-center">
    <button onclick="updateParentComment()" class="btn btn-primary">提交家长反馈</button>
    <a href="/user/editPassword"><button class="btn btn-primary">修改密码</button></a>
</div>
</body>

<script src="../assets/js/core/jquery.3.2.1.min.js"></script>
<script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/js/plugin/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../assets/js/plugin/moment-with-locales.js"></script>
<script type="text/javascript" src="../assets/js/plugin/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../assets/js/plugin/chartist/chartist.min.js"></script>
<script src="../assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="../assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="../assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="../assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="../assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script>
    function updateParentComment(){
        var parent_comment = $("#parent_comment").val();
        var score_id = $("#score_id").val();
        if(parent_comment == ''){
            alert("请输入家长反馈！");
            return;
        }

        $.ajax({
            type: 'post',
            url: "/score/updateParentComment",
            data: {
                scoreId:score_id,
                parentComment:parent_comment
            },
            success:function (data) {
                console.log(data);
                if(data.status == 1){
                    alert("提交成功！");
                    window.location.href="/parent/index";
                }else{
                    alert(data.msg);
                }
            }
        })
    }
</script>
</html>